body.index {
  max-width: 1080px;
  margin: auto;
}

body.index main {
  display: grid;
  grid: 1fr / 1fr 2fr;
  gap: 2ch;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

header {
  display: flex;
  place-items: baseline;
  gap: 1ch;
}

header,
footer,
main {
  margin: 10px;
}

details {
  background: var(--subtler-color);
  border-radius: .4rem;
  font-size: 92%;
  overflow: hidden;
}

details > * {
  padding: .2rem .5rem
}

details summary {
  background: var(--subtle-color)
}

details[open] summary {
  border-bottom: var(--line-width) solid var(--line-color);
}

article + article {
  margin-top: 0.2rem;
}

.notes {
  max-width: 600px;
}

.notes .note {
  margin: 0;
  white-space: break-spaces;
}

.notes.large {
  max-width: 100%;
  padding: 0 calc(25vw - 10vh);
  font-size: 2rem;
}

.notes.large .note-container .info {
  margin-top: 2.5rem;
}

@media (max-aspect-ratio: 4/5) {
  body.index main {
    display: flex;
    flex-direction: column;
  }

  .notes.large .note-container .info {
    white-space: pre-line;
  }
  .notes.large .note-container .timestamp {
    float: left
  }
}
